.phoneBookContainer {
    background: url(../img/original.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    height: 460px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

.phoneBook,
.contacts {
    width: 50%;
}

.contacts {
    height: 430px;
    overflow: auto;
}

.spinner {
    position: fixed;
    top:210px;
    left:290px;
    opacity: 50%;
}

.homeViewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}