.phoneBookContainer {
    background       : url(../img/original.jpg);
    background-repeat: no-repeat;
    background-size  : contain;
    width            : 600px;
    height           : 460px;
    padding          : 25px;
    display          : flex;
    flex-wrap        : wrap;
}

.phoneBook,
.contacts {
    width: 50%;
}

.contacts {
    height  : 430px;
    overflow: auto;
}

.spinner {
    position: fixed;
    top     : 210px;
    left    : 290px;
    opacity : 50%;
}

.homeViewContainer {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 70vh;
}

.registrationForm {
    padding       : 20px;
    width         : 250px;
    border        : 1px solid darkblue;
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;
}

.registrationForm input {
    margin-left  : 10px;
    margin-bottom: 10px;
}

.logInForm {
    padding       : 20px;
    width         : 250px;
    border        : 1px solid darkblue;
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;
}

.logInForm input {
    margin-left  : 10px;
    margin-bottom: 10px;
}