.contactFormName {
    margin-bottom: 5px;
    padding: 2px 5px;
}

.contactFormNumber {
    padding: 2px 5px;
}

.addBtn {
    cursor: pointer;
    background-color: yellowgreen;
    color: darkgreen;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
}